@font-face {
    font-family: 'ITCAvantGardeGothicLTBold';
    src: url('@/assets/fonts/ITCAvantGarde/ITCAvantGardeGothicLTBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Swansea';
    src: url('@/assets/fonts/Swansea/Swansea.ttf') format('truetype');
    font-style: normal;
}

.custom-font {
    font-family: 'ITCAvantGardeGothicLTBold', sans-serif;
}